body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.App > * {
  flex: 0 1 1rem;
}

.product-image {
  max-width: 10rem;
}

.product-promotionBadge {
  position: relative;
  background-color: red;
  color: white;
  top: -1.5rem;
  opacity: 50%;
}

.product-price {
  font-weight: bold;
  padding: 1rem;
}

.product-priceWas {
  text-decoration: line-through;
  color: red;
}